# Environment
.env
*.env.local

# Java / Maven
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.jar
*.war
*.ear

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
