<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidenav-header">
      <mat-icon class="brand-icon">account_balance_wallet</mat-icon>
      <span class="brand-name">Personal Finance</span>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: item.route === '/dashboard' }"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>

    <div class="sidenav-footer">
      <div class="user-info" *ngIf="auth.getUser()">
        <mat-icon>person</mat-icon>
        <span>{{ auth.getUser()?.name }}</span>
      </div>
      <button mat-button (click)="logout()" class="logout-btn">
        <mat-icon>logout</mat-icon>
        Sign Out
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar color="primary" class="toolbar">
      <span class="toolbar-spacer"></span>
      <span *ngIf="auth.getUser()" class="user-name">{{ auth.getUser()?.name }}</span>
    </mat-toolbar>

    <div class="content-wrapper">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
